.content {
  display: flex;
  justify-content: space-around;
}

.content a {
  background-color: #12192f;
  border-radius: 5px;
  padding: 5px 50px 5px 50px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 21px;
  color: #d0102b;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}
